body {
    background-image: url(amazonia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 3px solid green;
} 

h1 {
    color: rgb(24, 36, 202);
}

p{
    color:rgb(225, 255, 0);
}

b{
 color: green;
}
table {
    background-color: white;
}
h2{
    color: green;
}
