body {
    background-image: url(amazonia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

img {
    width: 200px;
    height: 200px;
}

h1 {
    color: rgb(24, 36, 202);
}

p{
    color:rgb(225, 255, 0);
}

b{
 color: rgb(25, 100, 25);
}
table {
    background-color: white;
}
td{
    background-color: rgb(0, 153, 255);
}