body {
    background-image: url(amazonia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


img {
    border-radius: 8px;
    border: 3px solid green;
     @media (max-width: 500px ) {
        width: 200px;
        height: 200px;
    }
}

form {
    @media (max-width: 500px ) {
        width: 200px;
        height: 200px;
    }
} 

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
h1{
    color:rgb(91, 114, 218)
}

div.test {
    color: rgb(24, 36, 202);
    text-align: center;
    font-size: 250%;
    border: 1px solid greenyellow;
    background-color: rgb(15, 19, 77);
}
div.test1{
    color: rgb(24, 36, 202);
    text-align: center;
    border: 1px solid greenyellow;
    background-color: rgb(15, 19, 77);
}
div.exp{
    color:rgb(204, 191, 71);
    border:blue;
    padding: 0.5em;
    text-align: justify;
    background-color: darkgreen;
    max-width: 32%;
    font-size: 70%;
}

p{
    color:rgb(48, 51, 26);
    background-color: aqua;
    font-family: cursive;
    font-size: 150%;
}

b{
 color: rgb(30, 133, 30);
 font-size: 250%;
 border:1px solid rgb(11, 11, 114);
 background-color: gold;
}
table {
    background-color: rgb(241, 221, 131);

}
td, tr{
    background-color: chartreuse;
    font-size: 150%;
    font-family: cursive;
    color:black;
}
h2{
    color: green;
}

.button {
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10%;
}

.button1 {
  background-color: rgb(250, 247, 63);
  color: rgb(11, 12, 80);
  border: 2px solid rgb(19, 173, 27);
  border-radius: 10%;
}

.button1:hover {
  background-color: rgb(247, 244, 107);
  color: rgb(58, 188, 248);
  border-radius: 10%;
}

main {
  margin: 0;
  padding: 5px;
  background-color: lightgreen;
  border-radius: 1%;
  border: 1px solid black;
  box-shadow: 4px 4px 4px 4px rgba(40, 43, 30, 0.562);

}

.menu-link {
    margin-right: 20px;
    text-align: right;
    color: #13d413;
    background-color: blue;
    text-decoration: none;
    font-size: 210%;
    border: 2px solid black;
}

.menu-link:hover {
    color: rgb(223, 121, 4);
    background-color: indigo;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li:hover{
   color:aqua;
   background-color: rgb(43, 226, 113);
   font-size: 200%;
   width: 50%;
}

li{
   color:blue;
   background-color: rgb(30, 194, 30);
   font-size: 150%;
   width: 25%;
}

div.divisoria{
    margin: 1;
    padding: 6px;
    background-color: rgb(221, 238, 144);
    border-radius: 1%;
    border: 1px solid red;
    max-width: 30%;

}

div.Cent{
    text-align: center;
}

header {
    display: flex;
    vertical-align: middle;
    justify-content: right;
    align-items: center;
    margin-right: 4%;
}

.Contatos {
    text-align: center;
    color: #7d7dde;
    background-color: #f1f1f1;
    font-size: 42px;
    width: 40%;
    padding: 3%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.box-form {
    display: flex;
}

.img-form{
    display: inline;
}

.formulário button {
    margin-right: 50px;
}

.form{
    background-color:azure;
    text-align: center;
    width: 44%;
    color:darkslategrey;
    border:1px solid black;
    padding: 3%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
